torch
bitsandbytes
accelerate
peft
trl<=0.23.1
transformers
datasets>=3.4.1,<4.0.0
huggingface_hub>=0.34.0
sentencepiece
protobuf
sentence-transformers
pandas
evaluate
synthetic-data-kit==0.0.5
openai==1.75.0
nest-asyncio
unsloth
unsloth_zoo
